```{=html}
<!-- altmetrics script -->
<script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>

<ul class="projlist list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <div>
      <% if (item.image) { %>
      <img src="<%- item.image %>">
      <% } else { %>
      <img src="../../images/logo.png">
      <% } %>
      
      <!--
      <ul class="quarto-categories">
      <% for (const category of item.categories) { %>
        <li><a href="/projects.html#category=<%= category %>"><%= category %></a></li>
      <% } %>
      </ul>
      -->
      
      <!--
      <% if (item.personnel) { %>
      <ul class="personnel">
        <% Object.keys(item.personnel).forEach(function (key) { %>
        <li><%= key %>: <%= item.personnel[key] %></li>
        <% }) %>
      </ul>
      <% } %>
      -->
    </div>
  
    <div>
      <h3><a href="<%= item.path %>"><%= item.title %></a></h3>
      
      <% if (item.doi) { %>
      <div data-badge-popover="right" data-badge-type="donut" data-doi="<% item.doi %>" data-hide-no-mentions="true" class="altmetric-embed"></div>
      <% } %>
      
      <% if (item.links) { %>
      <ul class="buttonlist">
        <% Object.keys(item.links).forEach(function (key) { %>
        <li><a href="<%= item.links[key] %>"><%= key %></a></li>
        <% }) %>
      </ul>
      <% } %>
      
      <p class="abstract"><%= item.abstract %></p>
    </div>
  </li>
<% } %>
</ul>
```